@font-face {
  font-family: 'NaN Jaune';
  src: url('/fonts/NaNJaune-MaxiExtraBold.woff2') format('woff2'),
      url('/fonts/NaNJaune-MaxiExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-Regular.woff2') format('woff2'),
      url('/fonts/PlusJakartaSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plus Jakarta Sans';
  src: url('/fonts/PlusJakartaSans-Italic.woff2') format('woff2'),
      url('/fonts/PlusJakartaSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
/* if you use light mode on your OS */
@media screen and (prefers-color-scheme: light) {
	:root {
    --bg-rgb: 255, 239, 233;
    --bg: #FFEFE9;
    --bg-alt: #FFCEDA;
    --accent: #FE5177;
    --fg-rgb: 39, 61, 214;
    --fg: #273DD6;
    --fg-alt: #182182;
    --img-intro: url(/icono/intro-light.svg)  no-repeat center / contain;
    --img-about: url(/icono/about-light.svg)  no-repeat center / contain;
  }
	.fk-light {
		display: none;
	}
	input.fk-toggle::before {
		background: var(--accent);
		left: .5rem;
		box-shadow: none;
	}	
}

/* if you use dark mode on your OS */

@media screen and (prefers-color-scheme: dark) {
	:root {
    --bg-rgb: 7, 42, 42;
    --bg: #072A2A;
    --bg-alt: #1C4A46;
    --accent: #FFCEDA;
    --fg-rgb: 222, 239, 203;
    --fg: #DEEFCB;
    --fg-alt: #52D2AB;
    --img-intro: url(/icono/intro-dark.svg)  no-repeat center / contain;
    --img-about: url(/icono/about-dark.svg)  no-repeat center / contain;
	}
	.fk-dark {
		display: none;
	}
	input.fk-toggle::before {
	    background: transparent;
	    left: 20px;
	    box-shadow: 5px 5px 0 0 var(--accent);
	}
}
:root {
  --title: "NaN Jaune";
  --trans: all .42s ease;
}
:-webkit-scrollbar {
  width: 10px;
}
:-webkit-scrollbar-thumb {
  background-color: var(--fg);
  border-radius: 0;
}
:-webkit-scrollbar-track {
  background-color:  var(--bg-alt)
}
html {
  scroll-behavior: smooth;
  scroll-padding-top:80px;
}
pre {
  padding: 1rem;
}
a {
  text-decoration-color: var(--accent);
}
a, a:visited, a:hover, a:active {
  color: inherit;
}
* {
  box-sizing: border-box;
  scrollbar-color: var(--fg) var(--bg-alt)
}
img {
  max-width: 900px;
  border-radius: 20px;
  opacity: .9;
}
body {
  font-size: 1.25rem;
  margin: auto;
  font-family: "Plus Jakarta Sans";
  font-feature-settings: 'ss01', 'ss02';
  overflow: hidden;
}
*:focus {
  outline: 10px solid rgba(var(--fg-rgb),0.2);
  transition: var(--trans);
}
del {
  text-decoration: 1.5rem line-through rgba(var(--fg-rgb),1);
  transition: var(--trans)
}
del:hover {
  text-decoration-color: rgba(var(--fg-rgb),.27);
}
:selection {
  color: var(--bg);
  background: var(--accent);
}
/* Dark Mode / Light Mode toggle */
input.fk-toggle {
	position: fixed;
	right: 2rem;
	top: 1rem;
	border-radius: 50px;
	appearance: none;
	width: 4rem;
	height: 2.5rem;
	outline: none;
	border: 2px solid var(--accent);
	cursor: pointer;
	background: var(--bg);
	z-index: 27;
}
input.fk-toggle::before {
  content: '';
  width: 1.5rem;
  height: 1.5rem;   
  position: absolute;
  top: 0;
  margin: auto;
  border-radius: 50%;
  transform: rotate(-45deg);
  transition: all 0.6s cubic-bezier(0.34, 1.56, 0.64, 1);
  bottom: 0;
}
	
/* if you activate light mode */
input.fk-light:checked::before {
	background: var(--accent);
	left: 2px;
	box-shadow: none;
}
.fk-light:checked,
.fk-light:checked ~ * {
  --bg-rgb: 255, 239, 233;
  --bg: #FFEFE9;
  --bg-alt: #FFCEDA;
  --accent: #FE5177;
  --fg-rgb: 39, 61, 214;
  --fg: #273DD6;
  --fg-alt: #182182;
  --img-intro: url(/icono/intro-light.svg)  no-repeat center / contain;
  --img-about: url(/icono/about-light.svg)  no-repeat center / contain;
}

/* if you activate dark mode */
input.fk-dark:checked::before {
	background: transparent;
	left: 20px;
	box-shadow: 5px 5px 0 0 var(--accent)
}
.fk-dark:checked,
.fk-dark:checked + input ~ * {
  --bg-rgb: 7, 42, 42;
  --bg: #072A2A;
  --bg-alt: #1C4A46;
  --accent: #FFCEDA;
  --fg-rgb: 222, 239, 203;
  --fg: #DEEFCB;
  --fg-alt: #52D2AB;
  --img-intro: url(/icono/intro-dark.svg)  no-repeat center / contain;
  --img-about: url(/icono/about-dark.svg)  no-repeat center / contain;
}
.fk-container {
  scroll-behavior: smooth;
  color: var(--fg);
  z-index: 1;
  position: relative;
  overflow-y: auto;
  max-height: 100vh;
}

.fk-outer {
  padding: 1rem 1rem 0;
  background: var(--bg);
}
.fk-inner {
  max-width: 1440px;
  margin: auto;
  display: flex;
}
aside.fk-sidebar {
  width: 150px;
}
aside.fk-sidebar svg {
  background: var(--bg);
  z-index: 999;
  border-radius: 0 0 1rem 0;
  box-sizing: content-box;
  padding-right: 1rem;
}
svg.fk-inline {
  position: fixed;
}
aside.fk-sidebar svg.fk-large {
  position: relative;
  background: linear-gradient(180deg, var(--bg) 77%, transparent 100%);
  padding-bottom: 33%;
}
.fk-container .fk-body h1 {
  margin-bottom: 3rem;
}
.fk-container .fk-body h2  {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
.fk-container .fk-body h3 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.fk-container .fk-body p {
  margin-top: .5rem;
  margin-bottom: 1.5rem;
}
.fk-body {
  min-height: 100vh;
}
.fk-body p,
.fk-body li {
  max-width: 700px;
  line-height: 2rem;
}
.fk-body section:not(.notes) {
  padding-bottom: 5rem;
}
.fk-body a:not([class]) {
  color: var(--fg);
  text-decoration-color: var(--accent);
  background: linear-gradient(to right, var(--bg-alt) 50%, transparent 50%) no-repeat;
  display: inline;
  background-position-x: 0;
  background-size: 0%;
  transition: var(--trans)
}
a[target="_blank"]::after {
  content: 'U';
  font-family: '1871 icon';
  font-style: normal;
  vertical-align: super;
  font-size: 50%;
  text-decoration: none;
  display: inline-block;
}
aside ol a:not([class]) ,
.fk-body a[href*="#text-note"] {
  background: none;
  text-decoration: none;
}
.fk-body a[href*="#text-note"] {
  font-family: '1871 icon';
  transform: rotate(-27deg);
  display: inline-block;
  padding-right: 2px;
  transition: var(--trans);
}
a[href*="#text-note"]:hover {
  color: var(--accent);
  transform: rotate(-27deg) translate(5px);
}

aside ol a {
  text-decoration: none;
}
.fk-body a:hover,
.fk-subfooter a:hover {
  text-decoration-color: var(--accent);
  background-size: 200%;
}

p:target {
  border-left: 4px solid var(--accent);
  padding-left: 20px;
}

a.anchor {
  opacity: 0;
  margin: 0 4px;
  transition: var(--trans);
}

a.anchor svg path {
  fill: var(--fg)
}

h1:hover a.anchor,
h2:hover a.anchor,
h3:hover a.anchor,
h4:hover a.anchor {
  opacity: 1;
}

h1, h2, .fk-title {
  font-family: var(--title);
  margin-top: 0;
}
h1 {
  font-size: clamp(2.5rem, 4vw, 4rem);
}
h2 {
  font-size: clamp(2.5rem, 3vw, 3rem);
}
h2.fk-small {
  font-size: clamp(2rem, 2.5vw, 2.5rem);
}

h3.fk-big {
  font-size: clamp(2rem, 2vw, 3rem);
}
h3:not([class]) {
  font-size: 1.5rem;
  color: var(--accent);
}
#about .fk-small {
  margin: 3rem 0 2rem;
}
.fk-subtitle {
  margin: 0;
  font-weight: bold;
  color: var(--fg);
}
.fk-bg {
  color: var(--bg);
}
.fk-fg {
  color: var(--fg);
}
svg .fk-fg:not(.fk-stroke) {
  fill: var(--fg);
}

svg .fk-stroke.fk-fg {
  stroke: var(--fg);
}

.fk-accent {
  color: var(--accent);
}
svg .fk-accent {
  fill: var(--accent);
}

svg .fk-bg {
  fill: var(--bg);  
}

svg .fk-alt {
  fill: var(--bg-alt);
}

svg .fk-alt2 {
  fill: var(--accent);
}
.fk-alt {
  color: var(--fg);
}
.fk-half {
  max-width: 470px;
}
.fk-body ul {
  padding-left: 20px;
  margin-bottom: 3rem;
}
.fk-body li {
  margin-bottom: 1rem;
}
.fk-body ul li {
  list-style-type: 'R ';
}
.fk-body .yes li  {
  list-style-type: 'V ';
}
.fk-body .maybe li {
  list-style-type: 'O '
}
.fk-body .nope li  {
  list-style-type: 'X ';
}
.fk-body ul li::marker {
  color: var(--accent);
  font-family: '1871 icon';
}
.fk-flex {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 40px;
}
#archive.fk-flex {
  display: inline-flex;
}
.fk-bottom {
  align-items:baseline;
}
.fk-post-intro {
  align-items: center;
}
.fk-grid {
  display: grid;
  grid-gap: 40px;
}
.fk-flex.fk-feed {
  overflow: hidden;
  height: 400px;
  max-width: 960px;
  display: inline-flex;
  margin-bottom: 40px;
}
a.fk-button {
  text-decoration: none;
  position:relative;
  padding: 1.25rem 2rem;
  background: var(--fg);
  color: var(--bg);
  overflow: hidden;
  display: inline-block;
  z-index: 0;
  transition: var(--trans);
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 800;
  border-radius: 5rem;
  transform: translate(-.25rem,-.25rem);
  box-shadow: .25rem .25rem var(--fg-alt);
  margin: 1rem 0 2rem;
  text-align: center;
}
a.fk-button:hover {
  transform: translate(0,0);
  box-shadow: 0 0 var(--fg);
}
a.fk-button::before {
  position: absolute;
  z-index: -1;
  bottom: -300px;
  left: 50%;
  width: 300px;
  height: 250px;
  animation: wave 10s linear infinite;
  animation-play-state: paused;
  background: var(--accent);
  border-radius: 40%;
  content: "";
  transform: translateX(-50%);
  transition: all .5s cubic-bezier(.25,.46,.45,.94);
}
a.fk-button:hover::before {
  bottom: -225px;
  animation-play-state: running;
}
a.fk-button-alt {
  background: none;
  transition: var(--trans);
  position: relative;
  text-decoration: none;
  line-height: 2rem;
  /* text-align: left; */
}
a.fk-button-alt::before {
  content: '';
  height: 4px;
  width: 50%;
  display: block;
  position: absolute;
  background: var(--accent);
  bottom: -10px;
  transition: var(--trans);
}
a.fk-button-alt:hover::before {
  width: calc(100% + 40px);
}
a.fk-button-alt::after {
  content: '\0052';
  font-family: '1871 icon';
  font-size: 34px;
  position: absolute;
  color:  var(--accent);
  transition: var(--trans);
  right: -40px;
  bottom: -.3rem;
}
a.fk-button-alt:hover::after {
  bottom: -1.5rem;
  right: -60px;
}
.fk-body ul {
  padding-left: 20px;
}

.fk-card svg path {
  fill: var(--fg);
}
.fk-body aside {
  position: fixed;
  top: 3.5rem;
  right: 1rem;
}
.notes {
  border-top: 1px solid var(--accent);
  font-size: 1rem;
}
footer {
  background: var(--fg);
  color: var(--bg);
  font-size: 1rem;
}
footer .fk-footer {
  margin: auto;
  max-width: 1061px;
}

.fk-footer > div {
  padding: 40px;
}

.fk-footer .fk-about {
  flex: 1;
  min-width: 200px;
}

.fk-footer h2 {
  color: var(--bg-alt);
}

path.fk-svg-lighter {
  fill: rgba(var(--bg-rgb),.1);
}

path.fk-svg-light {
  fill: var(--bg);
}

.fk-footer .fk-contact {
  flex: 2;
  min-width: 300px
}
.fk-footer a.fk-button-alt::before {
  background: var(--bg-alt)
}

.fk-footer a.fk-button-alt::after {
  color: var(--bg-alt)
}

.fk-subfooter {
  padding: 1rem;
  color: var(--bg-alt);
  background: var(--accent);
  text-align: center;
}

.fk-copyleft {
  transform: rotateY(180deg);
  display: inline-block;
}
@keyframes wave {
    0% {
        -webkit-transform: translateX(-50%) rotate(0);
        transform: translateX(-50%) rotate(0)
    }

    to {
        -webkit-transform: translateX(-50%) rotate(1turn);
        transform: translateX(-50%) rotate(1turn)
    }
}

/* MENU */

.fk-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.fk-menu li a {
  font-weight: bold;
  color: var(--fg);
  display: block;
  padding: 1rem 0;
  text-decoration: none;
  transition: var(--trans);
}
.fk-menu ul:hover li:not(:hover) a {
  opacity: 0.42;
}
.fk-body h1 strong,
.fk-body .fk-title strong {
  color: var(--bg);
  -webkit-text-stroke: 2px var(--fg);
}
.fk-smaller {
  font-size: .75rem;
}

.fk-swipe {
  background: linear-gradient(to right, var(--bg-alt) 50%, transparent 50%) no-repeat;
  display: inline;
  background-position-x: 0;
  background-size: 0%;
  animation: fk-swipe 9s infinite both;
}

.fk-pill {
  border: 2px solid;
  padding: 0 0.5rem 0.2rem;
  border-radius: 100px;
  transform: rotate(-1deg);
  display: inline-block;
  text-align: center;
}

a.fk-pill {
  border-color: var(--fg);
  text-decoration: none;
  transition: var(--trans);
  padding: 0.3rem 1rem 0.4rem;
}

a.fk-pill:hover {
  background: var(--fg);
  color: var(--bg);
}

.fk-tags > p:nth-child(even) a.fk-pill,
a.fk-pill:nth-child(even),
.fk-pill.alt {
  transform: rotate(1deg);
}


@keyframes fk-swipe {
  33%, 66% {
    background-position-x: 0;
    background-size: 200%;
  }  
   100% {
    background-position-x: -100%;
    background-size: 200%;
  }
}

/* Home */

.fk-intro-img {
  background: var(--img-intro);
  height: clamp(400px, 50vw, 600px);
}

.fk-about-img {
  background: var(--img-about);
  height: clamp(400px, 50vw, 600px);
  flex: 1;
}

/* blog & portfolio */

.fk-post, .fk-col {
  position: relative;
  overflow: hidden;
  min-width: 250px;
  flex: 1;
}

.fk-post {
  min-height: 400px;
}

.fk-body .fk-post a {
  display: flex;
  height: 100%;
  background: none;
  text-decoration: none;
}

img.fk-featured {
  position: absolute;
  z-index: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.fk-content {
  padding: 1rem;
  margin: auto 1rem 1rem;
  border-radius: .75rem;
  background: rgba(var(--fg-rgb),.9);
  transition: var(--trans);
  z-index: 2;
}

.fk-container .fk-body .fk-content h2,
.fk-container .fk-body .fk-content p {
  margin: 0;
	color: var(--bg)
}

.fk-container .fk-body .fk-content h2 {
  font-size: 2rem;
}

.fk-post a::before {
  content: '\0052';
  font-family: "1871 icon";
  position: absolute;
  top: 10px;
  right: 50px;
  opacity: 0;
  background: var(--accent);
  padding: 10px 0 0 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: var(--trans);
  z-index: 2;
  color: var(--bg);
}

.fk-post a:hover::before {
  right: 10px;
  opacity: 1;
}

.fk-post a:hover .fk-content {
  transform: translateY(-10px);
}

.fk-body section#archive {
  padding-bottom: 0;
}

.fk-pagination {
  margin: 2rem 0;
  text-align: right
}

.fk-pagination a:hover {
  color: var(--accent);
}

.fk-box-parent {
  flex: 1;
}
.fk-box {
  min-width: 250px;
  padding: 20px;
  border: 1px solid;
  box-shadow: 5px 5px;
}

.fk-box.fk-grid:not(.fk-last),
.fk-fg-box {
  border-radius: 0 20px 80px 20px;
}
.fk-accent-box {
  border-radius: 80px 20px 20px;
}

.fk-box.fk-grid {
  max-width: 640px;
  margin-bottom: 40px;
}

.fk-box.fk-grid.fk-last {
  margin-left: auto;
}

.fk-box.fk-grid h3 {
  color: var(--fg);
  margin-top: .5rem;
  font-size: 1.75rem;
}

.fk-box.fk-grid:not(.fk-last) h3,
.fk-box.fk-grid.fk-last p {
  text-align: right;
}

.fk-flex h1.title {
  margin: 0;
}

.fk-post-intro {
  flex: 2;
}
/* responsive mobile */

@media only screen and (max-width: 919px) {
  aside ol {
    display: none
  }
}
@media only screen and (max-width: 799px) {

  .fk-inner {
    flex-direction: column;
  }
  svg.fk-inline {
    top: 0;
    left: 0;
    height: 40px;
  }
  .fk-body {
    margin-bottom: 100px;
  }
  .fk-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    left:0;
    background: var(--fg);
    z-index: 27;
  }
  .fk-menu ul {
    display: flex;
    flex-wrap: wrap;
  }
  .fk-menu ul li {
    flex-grow: 1;
    text-align: center;
  }
  .fk-menu li a {
    font-size: 1rem;
    margin: 1rem 0;
    color: var(--bg);
    text-align: center;
    padding: 0;
    line-height: 1rem;
  }
  .fk-menu li:not(:first-child) a{
    border-left: 1px solid var(--bg);
  }
  .fk-footer {
    text-align: center;
  }  
  .fk-4col {
    grid-template-columns: repeat(2, 1fr);
    text-align: left;
  }
  .fk-subfooter {
    padding-bottom: 3rem;
  }
  img {
    max-width: 100%;
  }
}

@media only screen and (min-width: 500px) and (max-width: 799px) {
  .fk-intro-img {
    position: sticky;
    top: 50px;
  }
  .fk-2col {
    grid-template-columns: repeat(2, 1fr);
  }
  .fk-2of3 {
    flex: 2;
  }
}
/* responsive desktop */
@media only screen and (min-width: 800px) {
  h1 {
    margin-top: 5rem;
  }
  .fk-body {
    margin: 0 40px;
    padding: 40px;
    border-left: 1px solid var(--accent);
    max-width: 1061px;
    width: calc(100% - 300px);
  }
  .fk-menu {
    position: sticky;
    z-index: 27;
    top: calc(100vh - 18rem);
    padding-left: 2rem;
  }
  .fk-menu ul {
    list-style: decimal-leading-zero;
    color: var(--accent);
  }
  .fk-menu li::marker {
    font-size: 1rem;
  }
  .fk-menu ul:not(.new) a:hover {
    letter-spacing: 1px;
  }
  .notes {
    margin-left: -40px;
    padding-left: 40px;
    padding-bottom: 3rem;
  }
  .fk-footer div.fk-subfooter {
    display: flex;
    align-items: center;
  }
  .fk-footer div .legal {
    margin-left: auto;
  }
  .fk-4col {
    grid-template-columns: repeat(2, 1fr);
  }
  aside.fk-sidebar.right a::after {
    content: ' V';
    font-family: '1871 icon';
    color: var(--accent);
    transform: translateX(1rem);
    display: inline-block;
    opacity: 0;
    transition: var(--trans);
    position: absolute;
  } 

  aside.fk-sidebar.right a:hover::after {
    transform: translateX(.25rem);
    opacity: 1;
  }
  
  footer {
    position: sticky;
    bottom: 0;
    z-index: -1;
  }
  .fk-footer {
    grid-gap: 40px;
    display: flex;
    flex-wrap: wrap;
  }
  .fk-footer .fk-contact {
    border-left: 1px solid var(--bg);
    padding-left: 40px;
  }
  .fk-box.fk-grid.fk-last h3 {
    order: 2;
  }

}
@media only screen and (min-width: 920px) {
  aside ol {
    padding: 0;
    position: fixed;
    top: 3rem;
    list-style: none;
  }
}
@media only screen and (min-width: 1200px) {
  .fk-intro-img {
    position: sticky;
    top: 50px;
  }
  .fk-2col {
    grid-template-columns: repeat(2, 1fr);
  }
  .fk-4col {
    grid-template-columns: repeat(4, 1fr);
  }
  .fk-2of3 {
    flex: 2;
  }
  footer .fk-footer > div {
    padding: 80px 0;
  }
}

/* website carbon */

.carbonbadge {
  margin-top: 2rem;
}

#wcb.carbonbadge sub {
  vertical-align: middle;
  position: relative;
  top: .3em;
  font-size: .7em;
}

#wcb #wcb_2,
#wcb #wcb_a,
#wcb #wcb_g {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin: .2em 0;
}

#wcb #wcb_a,
#wcb #wcb_g {
  padding: .3em .5em;
  border: 2px solid var(--bg-alt);
}

#wcb #wcb_g {
  border-radius: 5em 0 0 5em;
  border-right: 0;
  min-width: 8.2em;
  color: var(--bg);
}

#wcb #wcb_a {
  border-radius: 0 5em 5em 0;
  border-left: 0;
  background: var(--bg-alt);
  color: var(--fg);
  font-weight: 700;
  border-color: var(--bg-alt);
}

#wcb.wcb-d #wcb_a {
  color: var(--bg-alt);
  background: var(--bg-alt);
  border-color: var(--bg-alt);
}

#wcb.wcb-d #wcb_2 {
  color: var(--bg);
}
